
.moving-image-container {
  position: relative;
  overflow: hidden; /* Hide overflow */
  width: 100vw; /* Full width of the viewport */
  height: 50vw; /* Adjust height as needed */
}

.moving-image {
  position: absolute;
  width: 100%; /* Set the width to 100% of the container */
  height: auto; /* Maintain aspect ratio */
  animation: moveImage 8s linear infinite; /* Adjust duration for speed */
}

@keyframes moveImage {
  0% {
    left: 100%; /* Start off the screen to the right */
  }
  100% {
    left: -100%; /* Move to the left off the screen */
  }
}

/* Optional styles for the beastly-bond-logo */
.beastly-bond-logo {
  width: 400px; /* Adjust the logo size */
  display: block;
  margin: 0 auto; /* Center the logo horizontally */
  padding-bottom: 20px; /* Add some spacing between the logo and moving image */
  .image-crop-container {
    width: 300px; /* Set the width of the cropped area */
    height: 200px; /* Set the height of the cropped area */
    overflow: hidden; /* Hide the parts of the image outside the container */
    position: relative; /* Allows positioning of the image inside */
    
  }
}

.logo{
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

.button-container {
  margin-top: 20px; /* Add spacing above the buttons */
  text-align: center; /* Center the buttons */
}

.adopt-button, .home-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  position: relative;
  top: 25px; /* Add vertical space */
  cursor: pointer;
  margin: 0 10px; /* Add space between the buttons */
  
  &:hover {
    background-color: #218838; /* Darken the button on hover */
  }
}