/* loadingScreen.scss */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 100, 0, 0.9); /* Dark green with slight transparency */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it stays on top of everything */
    transform: translateX(0); /* Initially no translation */
    transition: transform 0.5s ease-in-out; /* Add transition effect */
  }
  
  .loading-screen.swipe-out {
    transform: translateX(100vw); /* Swipe out to the right */
  }
  
  .loading-screen.white-bg {
    background-color: #ffffff; /* White background */
    animation: fadeOut 1s forwards; /* Fade out after swipe */
  }
  

  .loading-text{
    font-size:2em;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  

  .lil-shopkeeper{
    width:250px;
    height:auto;
  }
  .loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff; /* White text */
  }
  
  /* Loading Spinner Animation */
  .spinner {
    border: 8px solid #f3f3f324; /* Light gray border */
    border-top: 8px solid #ffffff; /* White spinner */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  /* Keyframes for spinning animation */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  