nav {
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: fixed; // Make the navbar fixed
  top: 0; // Position it at the top
  left: 0; // Align it to the left edge
  right: 0; // Stretch it to the right edge
  z-index: 1000; // Ensure it appears above other content

  ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .title{
    font-size: 50px;
  font-weight: bold;
  background: url('https://thumb.ac-illust.com/9e/9ea7c192d4d2066767f0637ffdf66702_t.jpeg') no-repeat center;
  background-size: cover;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .game-link {
    background-color: #555;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #777;
    }
  }
}
